General:
  httpFilesPath: ./FundshareFrontend/public
  listenHost: '127.0.0.1'
  listenPort: 5000

DB:
  host: database
  port: 5432
  username: postgres
  password: postgres
  database: fundshare_dev

Auth:
  tokenEncryptionKey: 707172737475767778797a7b7c7d7e7f808182838485868788898a8b8c8d8e8f
  tokenIssuer: fundshare_web
  passwordSalt: r32jf90e8uijk2l1ed
  cookieAuthName: authorization

Boot:
  updateBalanceForAllUsers: true
  outputSchemaPath: ..\graphql_schema.json